
</div>
</div>
</div>
</div>

</div>

</div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{{home}}/webjars/jquery/{{jquery-version}}/jquery.min.js"></script>
<script src="{{home}}/webjars/bootstrap/{{bootstrap-version}}/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{{home}}/webjars/jquery-easing/{{jquery-easing-version}}/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>


</body>

</html>