<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{code}} {{message}}</title>
    <link href="/assets/css/error.css" rel="stylesheet">
    <script src="/assets/js/error.js"></script>
</head>
<body>
<p>HTTP: <span>{{code}}</span></p>
<code><span>this_page</span>.<em>{{slug}}</em> = true;</code>
<code><span>if</span> (<b>you_spelt_it_wrong</b>) {<span>try_again()</span>;}</code>
<code><span>else if (<b>we_screwed_up</b>)</span> {<em>alert</em>(<i>"We're really sorry about that."</i>);
    <span>window</span>.<em>location</em> = home;}</code>
<center><a href="{{home}}">HOME</a></center>
</body>
</html>
