<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
            <a href="{{home}}/admin" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>
        <li class="nav-header">{{lang.contents}}</li>
        <li class="nav-item">
            <a class="nav-link" href="{{home}}/admin/articles">
                <i class="nav-icon fas fa-fw fa-newspaper"></i>
                <p>
                    {{lang.articles}}
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{home}}/admin/categories">
                <i class="nav-icon fas fa-fw fa-folder"></i>
                <p>
                    {{lang.categories}}
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{home}}/admin/tags">
                <i class="nav-icon fas fa-fw fa-tags"></i>
                <p>
                    {{lang.tags}}
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{home}}/admin/pages">
                <i class="nav-icon fas fa-fw fa-file"></i>
                <p>
                    {{lang.pages}}
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{home}}/admin/file">
                <i class="nav-icon fas fa-fw fa-images"></i>
                <p>
                    {{lang.media}}
                </p>
            </a>
        </li>
        <li class="nav-header">{{lang.aministration}}</li>
        <li class="nav-item">
            <a class="nav-link" href="{{home}}/admin/users">
                <i class="nav-icon fas fa-fw fa-users"></i>
                <p>
                    {{lang.users}}
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{home}}/admin/roles">
                <i class="nav-icon fas fa-fw fa-lock"></i>
                <p>
                    {{lang.roles}}
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{home}}/admin/settings">
                <i class="nav-icon fas fa-fw fa-cogs"></i>
                <p>
                    {{lang.settings}}
                </p>
            </a>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->
