{{> header}}


<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{sitename}}</h1>
                    <span class="subheading">{{sitedescription}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{#categories}}
                <div class="post-preview">
                    <a href="/cataegories/{{slug}}">
                        <h2 class="post-title">
                            {{name}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{description}}
                        </h3>
                    </a>
                </div>
                <hr>
            {{/categories}}
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>

{{> footer}}