<html>

<head>
    <title>Setup</title>
    <link href="/assets/css/setup.css" rel="stylesheet">
</head>

<body>

<form id="msform" action="/setup" method="POST" name="setup">

    <h2 class="fs-title">Site basic details</h2>
    <input type="text" name="siteName" placeholder="Site Name"/>
    <input type="text" name="siteDescription" placeholder="Site Description"/>
    <input type="text" name="copyright" placeholder="Copyright"/>

    <input type="text" name="userName" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="email" name="userMail" placeholder="E-mail"/>

    <input type="text" name="userName" placeholder="First Name"/>
    <input type="text" name="password" placeholder="Last Name"/>
    <input type="text" name="phone" placeholder="Phone"/>
    <textarea name="address" placeholder="Address"></textarea>
    <input type="submit" name="submit" class="submit action-button" value="Submit"/>

</form>
</body>

</html>
