{{> backoffice/header}}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><a href="{{home}}/admin/pages/new">{{lang.addNew}}</a></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>{{lang.title}}</th>
                    <th>{{lang.author}}</th>
                    <th>{{lang.createdAt}}</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>{{lang.title}}</th>
                    <th>{{lang.author}}</th>
                    <th>{{lang.createdAt}}</th>
                </tr>
                </tfoot>
                <tbody>
                {{#pages}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="{{home}}/admin/pages/{{slug}}">{{title}}</a></td>
                        <td>
                            <a href="{{home}}/admin/users/{{author.userName}}">{{author.firstName}} {{author.lastName}}</a>
                        </td>
                        <td class="date">{{addedAt}}</td>
                    </tr>
                {{/pages}}
                </tbody>
            </table>
            <div>
                <nobr>
                    {{#hasPrev}}<a href="/admin/articles?page={{prev}}">Prev</a>&nbsp;&nbsp;&nbsp;{{/hasPrev}}
                    {{#hasNext}}<a href="/admin/articles?page={{next}}">Next</a>{{/hasNext}}
                </nobr>
            </div>

        </div>
    </div>
</div>




{{> backoffice/footer}}
