
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.5
    </div>
    {{copyright}}
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{home}}/webjars/jquery/{{jquery-version}}/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="{{home}}/webjars/bootstrap/{{bootstrap-version}}/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="{{home}}/assets/adminlte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{home}}/assets/adminlte/dist/js/demo.js"></script>
</body>
</html>
