
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.5
    </div>
    {{copyright}}
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{home}}/webjars/jquery/{{jquery-version}}/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="{{home}}/webjars/bootstrap/{{bootstrap-version}}/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="{{home}}/assets/adminlte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{home}}/assets/adminlte/dist/js/demo.js"></script>
<!-- DataTables -->
<script src="{{home}}/assets/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{home}}/assets/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="{{home}}/assets/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{home}}/assets/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="{{home}}/assets/js/dateFormatter.js"></script>
<!-- Summernote -->
<script src="{{home}}/assets/adminlte/plugins/summernote/summernote-bs4.min.js"></script>
<!-- bs-custom-file-input -->
<script src="{{home}}/assets/adminlte/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
<script>
    $(function () {
        // Summernote
        $('.textarea').summernote()
    })
</script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>
