<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{home}}/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{home}}/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{{lang.dashboard}}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {{lang.contents}}
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{{home}}/admin/articles" >
            <i class="fas fa-fw fas fa-newspaper"></i>
            <span>{{lang.articles}}</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{home}}/admin/categories" >
            <i class="fas fa-fw fas fa-folder"></i>
            <span>{{lang.categories}}</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{home}}/admin/tags" >
            <i class="fas fa-fw fas fa-tags"></i>
            <span>{{lang.tags}}</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{home}}/admin/pages" >
            <i class="fas fa-fw fas fa-file"></i>
            <span>{{lang.pages}}</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{home}}/admin/media">
            <i class="fas fa-fw fas fa-images"></i>
            <span>{{lang.media}}</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {{lang.aministration}}
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{{home}}/admin/users" >
            <i class="fas fa-fw fas fa-users"></i>
            <span>{{lang.users}}</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{home}}/admin/roles" >
            <i class="fas fa-fw fas fa-lock"></i>
            <span>{{lang.roles}}</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{home}}/admin/settings" >
            <i class="fas fa-fw fas fa-cogs"></i>
            <span>{{lang.settings}}</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->